# Data Science Internship â€“ Task 2
## Logic Building in Python

**Name:** Kamepalli Rohit Sai  
**Date:** Feb 2026  
**Platform:** Google Colab

In [2]:
sentence = "python is easy and python is powerful"

words = sentence.split()
unique_words = set(words)

print("Unique words count:", len(unique_words))
print("Unique words:", unique_words)

Unique words count: 5
Unique words: {'easy', 'powerful', 'python', 'and', 'is'}

In [3]:
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

highest = max(employees, key=employees.get)

print("Highest Salary:", highest, "-", employees[highest])

Highest Salary: Ravi - 75000

In [4]:
numbers = [45, 22, 89, 10, 66]

max_val = numbers[0]
min_val = numbers[0]

for num in numbers:
    if num > max_val:
        max_val = num
    if num < min_val:
        min_val = num

print("List:", numbers)
print("Max:", max_val)
print("Min:", min_val)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

In [5]:
prices = [450, 1200, 899, 1500, 300]

count = 0
for price in prices:
    if price > 1000:
        count += 1

print("Products above 1000:", count)

Products above 1000: 2

In [6]:
attendance = ["P", "P", "A", "P", "P"]

present = attendance.count("P")
percentage = (present / len(attendance)) * 100

print("Attendance Percentage:", percentage)

Attendance Percentage: 80.0

In [7]:
phone_numbers = [9876543210, 9123456789, 9876543210]

unique_numbers = set(phone_numbers)

print("Unique phone numbers:", unique_numbers)

Unique phone numbers: {9876543210, 9123456789}

In [8]:
text = "python"

freq = {}

for char in text:
    freq[char] = freq.get(char, 0) + 1

print(freq)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [9]:
lst = [10, 20, 30]

tup = tuple(lst)

print("Tuple:", tup)

Tuple: (10, 20, 30)

In [10]:
employees = {"Ravi": 75000, "Anita": 68000}

key = "Ravi"

if key in employees:
    print("Employee exists")
else:
    print("Employee not found")

Employee exists

In [11]:
marks = [70, 75, 80, 65]

average = sum(marks) / len(marks)

print("Average Marks:", average)

Average Marks: 72.5